.diet-points {
    position: relative;
    background-color: #96C291;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 83px;
}

@media screen and (max-width: 1450px) {
    .diet-points {
       justify-content: center;
    }
}

.diet-points__image {
    position: absolute;
    top: -200px;
    left: 50px;
    width: 620px;
    height: 570px;
    object-fit: contain;
}

@media screen and (max-width: 1537px) {
    .diet-points__image {
        left: -30px;
    }
}

@media screen and (max-width: 1537px) {
    .diet-points__image {
        left: -30px;
    }
}

@media screen and (max-width: 1450px) {
    .diet-points__image {
        display: none;
    }
}

.diet-points__info {
    position: absolute;
    bottom: -50px;
    left: 200px;
    background-color: white;
    border-radius: 65px;
    max-width: 337px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 0 21px 133px 0 rgba(17, 95, 0, 0.21);
}

@media screen and (max-width: 1537px) {
    .diet-points__info {
        left: 100px;
    }
}

@media screen and (max-width: 1450px) {
    .diet-points__info {
        display: none;
    }
}

.diet-points__name {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.diet-points__description {
    margin: 0;
    color: #6C997F;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

.diet-points__container {
    display: flex;
    gap: 57px;
    flex-direction: column;
}

@media screen and (max-width: 950px) {
    .diet-points__container {
        max-width: 750px;
        align-items: center;
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .diet-points__container {
        max-width: 440px;
        gap: 40px;
    }
}

.diet-points__title {
    font-size: 41px;
    color: white;
    font-weight: 700;
    margin-top: 68px;
    margin-bottom: 0;
    margin-right: 323px;
}

@media screen and (max-width: 1675px) {
    .diet-points__title {
        margin-right: 100px;
    }
}

@media screen and (max-width: 950px) {
    .diet-points__title {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .diet-points__title {
        font-size: 41px;
        margin-top: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .diet-points__title {
        font-size: 22px;
        margin-top: 57px;
    }
}

.diet-points__items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    row-gap: 20px;
    column-gap: 120px;
}

@media screen and (max-width: 950px) {
    .diet-points__items {
        justify-content: center;
        column-gap: 30px;
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .diet-points__items {
        max-width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .diet-points__items {
        max-width: 300px;
    }
}

.diet-points__item {
    font-size: 20px;
    color: white;
    margin: 0;
    font-weight: 500;
    max-width: 363px;
    width: 100%;
}
