.products {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding-bottom: 150px;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .products {
        padding-top: 110px;
        padding-bottom: 105px;
        gap: 42px;
    }
}

.products__title {
    color: #96C291;
    font-size: 41px;
    font-weight: 700;
    max-width: 480px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .products__title {
        max-width: 465px;
    }
}

.products__container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
