.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 170px;
}

@media screen and (max-width: 1280px) {
    .about-us {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        gap: 85px;
        padding-top: 0;
        padding-bottom: 130px;
    }
}

.about-us__image {
    object-fit: cover;
    max-width: 600px;
    max-height: 420px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-us__image {
        max-width: 450px;
        max-height: 300px;
    }
}

.about-us__container {
    display: flex;
    flex-direction: column;
    gap: 85px;
    max-width: 520px;
}

@media screen and (max-width: 1280px) {
    .about-us__container {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .about-us__container {
        max-width: 450px;
    }
}

.about-us__title {
    color: #96C291;
    font-size: 41px;
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .about-us__title {
        text-align: center;
    }
}

.about-us__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
