.promo-point__container {
    display: flex;
    gap: 19px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}

@media screen and (max-width: 480px) {
    .promo-point__container {
        display: none;
    }
}

.promo-point__name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.promo-point {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-clip: content-box;
    padding: 9px;
    transition: all 0.4s ease-in-out;
    background-color: rgba(150, 194, 145, 0.5);
    border: 1px solid rgba(150, 194, 145, 0.4);
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .promo-point {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point {
        width: 13px;
        height: 13px;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point {
        width: 13px;
        height: 13px;
        padding: 5px;
    }
}

.promo-point_active {
    width: 33px;
    height: 33px;
    background-color: #96C291;
    border-color: #96C291;
}

@media screen and (max-width: 950px) {
    .promo-point_active {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point_active {
        width: 17px;
        height: 17px;
    }
}

.promo-point:hover {
    width: 33px;
    height: 33px;
    background-color: #96C291;
    border-color: #96C291;
}

@media screen and (max-width: 950px) {
    .promo-point:hover {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point:hover {
        width: 17px;
        height: 17px;
    }
}

.promo-point__container_up {
    top: 30px;
    left: -70px;
}

@media screen and (max-width: 950px) {
    .promo-point__container_up {
        left: -80px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point__container_up {
        top: 30px;
        left: -110px;
    }
}

.promo-point__container_medium {
    top: 200px;
    left: -200px;
}

@media screen and (max-width: 950px) {
    .promo-point__container_medium {
        left: -195px;
        top: 200px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point__container_medium {
       left: -185px;
        top: 140px;
    }
}

.promo-point__container_down {
    top: 400px;
    left: -130px;
}

@media screen and (max-width: 950px) {
    .promo-point__container_down {
        left: -140px;
        top: 340px;
    }
}

@media screen and (max-width: 768px) {
    .promo-point__container_down {
        left: -140px;
        top: 230px;
    }
}
