.header {
    display: flex;
    max-width: 70%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

@media screen and (max-width: 490px) {
    .header {
        max-width: 90%;
    }
}

.header__title {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.4s ease-in;
}

.header__link:hover {
    color: #96C291;
    opacity: 0.8;
}

.header__link_active {
    color: #96C291;
}
